.navbar{
    
    position: relative;
}
.container{

}
.navbar .top-left #element {
    font-size: 17px;
}
.item1{
    width: 297px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item1 .box1 {
    padding-left: 0px;
}