* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, rgb(24 231 188) 8%, rgb(133 4 50) 98%);
    margin: 0px;
    padding: 0;
    color: white;
}

.navbar {
    height: 63px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.top-left {
    padding: 9px 10px
}

.navbar .top-left .vertical-line {
    height: 40px;
    width: 3px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;

}

.navbar .top-left h1 {
    color: white;
    font-size: 1.8rem;
    padding: 3px 88px;
    margin: -40px -44px;
}

.navbar .top-left #element {
    color: white;
    padding: 2px 5px;
}
.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.item1{
   width: 650px;
   max-width: 700px;
   background-color: rgb(0, 0, 0);
   margin: 100px auto;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 5px 12px 20px black;
}
.item1 img{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.item1 h2{
    display: flex;
    margin: 25px 25px;
    font-size: 30px;
    background: linear-gradient(135deg, rgb(24 231 188) 8%, rgb(133 4 50) 98%);
    /* text-decoration: underline; */
    border-radius: 5px;
    color:rgb(0, 0, 0);
    
}
.item1 .box1{
    display: flex;
    justify-content: space-between;
    background:rgb(221, 217, 217);
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 13px;
}
button{
    width: 100px;
    border-radius: 20px;
    background: #1d0426;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
 ul li{
    text-decoration: none;
    user-select: none;
    font-size: 17px;
    list-style: none;
    padding:  18px 55px 3px 49px;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: 18px;
    left: 16px;
}
 ul .checked{
    color:rgb(204, 197, 197) ;
    text-decoration: line-through;
}
ul .checked::before{
    background-image: url(/images/ok-1976099_640.png);
}
ul li span{
    right: 0px;
    position: absolute;
    height: 40px;
    width: 40px; 
    top: 5px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
}
ul li span:hover{
    background-color: rgb(204, 197, 197);
}